midashi{
 font-family: "TsukuARdGothic-Regular";
 font-weight: 400;
 font-size: 24px;
 color: #00fa9a;
}

nmru{
 font-family: "TsukuARdGothic-Regular";
 font-weight: 400;
 font-size: 16px;
 color: #9900ff;
}

nmrulink{
 font-family: "TsukuARdGothic-Regular";
 font-weight: 400;
 font-size: 16px;
 color: #3366ff;
}

body{
 background="EmMojPrUYAQho6K.jpg";
 background-size: cover;
 background position:center center;
}
